<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <h1>AWS Cloud TEST V2.1 Port 8010</h1>
    <ul>
        <li>Current Time : <%= ctime %></li>
        <li>Connect Count : <%= totalcnt %></li>
    </ul>

    <hr>

    <a href="/awsS3"> 
        <input type="button" value="S3 API TEST"  style="width:200px;" />
    </a> 
    <br>
    
    <a href="/awsEC2">
        <input type="button" value="EC2 API TEST"   style="width:200px;" />
    </a> 
    <br>
 
</body>

</html>