<!DOCTYPE html>
<html lang="ko">

<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="https://code.jquery.com/jquery-2.2.4.min.js"  
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="  
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>


    <style>
        input {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <h1>Node Page For Cloud TEST V1.12</h1>
    <ul>
        <li>현재시간 : <%= ctime %></li>
        <li>접속횟수 : <%= totalcnt %></li>
    </ul>
    <hr>
    <a href="/admin"><input type="button" value="관리자" /></a> 
    <a href="/user"><input type="button" value="사용자" /></a> 
    <a href="#" id='btnTest'>테스트</a> 
 
    <script src="localJS/mainscript.js" defer></script>

</body>

</html>