<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>


    <h1>AWS Cloud TEST V2.1 Port 3000</h1>
    <ul>
        <li>Current Time : <%= ctime %></li>
        <li>Connect Count : <%= totalcnt %></li>
    </ul>

    <hr>

    <div id="container" class="basicContainer" >
      
        <h2>AWS S3 TEST</h2>
        <hr>

        <a href="/html/s3/s3read.html" ><button style="width:120px;"  >S3-READ</button></a><p> 
            
        <a href="/html/s3/s3photo.html" ><button style="width:120px;" >PhotoAlbum</button></a><p>


    </div>
 
</body>

</html>