<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/localJS/mainscript.js"></script>
    <style>
        input {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <h1>Service Test Page V2.5 Port 8000</h1>
    <ul>
        <li>Current Time : <%= ctime %></li>
        <li>Connect Count : <%= totalcnt %></li>
    </ul>

    <hr>
     
    <button id="imgBtn" style="width:80px;"  >LoadImage</button> <input type="text"  placeholder="(ex) https://www.abc.com/abcd.jpg" style="width:520px;" /> 
    
 
</body>

</html>