<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <h1>Service Page For Cloud TEST V2.3 Port 8000</h1>
    <ul>
        <li>Current Time : <%= ctime %></li>
        <li>Connect Count : <%= totalcnt %></li>
    </ul>
 
</body>

</html>