<!DOCTYPE html>

<html lang="ko">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
    <script src="localJS/admscript.js" defer></script>
    <style>
 
      .basicContainer {
        background: #CCCCCC; 
      }
 
    </style>
  </head>
  <body>
    <div id="container" class="basicContainer" >
       
      <h2>S3 TEST v0.5</h2>
      <hr>
      <a href="./s3/s3photo.html" ><button>포토앨범</button></a><p>
      <a href="./s3/s3read.html" ><button>S3-READ</button></a><p> 
    </div>
    
  </body>
</html>
