<!DOCTYPE html>

<html lang="ko">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
    <script src="localJS/userscript.js" defer></script>
    <style>
 
      .basicContainer {
        background: gray;
      }
 
    </style>
  </head>
  <body>
    <div id="container" class="basicContainer" >
      
      <h2>사용자 접속 V1.0</h2>
      <a href="/" ><button>Go to Home</button></a>
    </div>
    
  </body>
</html>
